/Oitavo/nbproject/private/
/Primeiro/nbproject/private/
/Quarto/nbproject/private/
/Quinta/nbproject/private/
/Segundo/nbproject/private/
/Setimo/nbproject/private/
/Sexto/nbproject/private/
/Terceiro/nbproject/private/
/Primeiro/build/
/Comparacao/nbproject/private/
/Comparacao/build/